In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-02-05 04:02:09,-53.1500,-70.9167,48.20,61,75,11.50
1,1,Gigmoto,PH,2021-02-05 04:02:39,13.7796,124.3900,78.67,85,94,13.91
2,2,Yangambi,CD,2021-02-05 04:02:40,0.8102,24.4336,70.57,98,98,2.04
3,3,Souillac,MU,2021-02-05 04:01:16,-20.5167,57.5167,82.40,65,40,11.50
4,4,Chokurdakh,RU,2021-02-05 04:02:40,70.6333,147.9167,-15.32,86,98,20.56

In [6]:
# Get the data types of the columns in the dataframe.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Gigmoto,PH,2021-02-05 04:02:39,13.7796,124.3900,78.67,85,94,13.91
3,3,Souillac,MU,2021-02-05 04:01:16,-20.5167,57.5167,82.40,65,40,11.50
8,8,New Norfolk,AU,2021-02-05 04:02:40,-42.7826,147.0587,78.01,78,100,1.01
11,11,Mackay,AU,2021-02-05 04:02:41,-21.1500,149.2000,86.00,66,40,16.11
12,12,Flinders,AU,2021-02-05 04:02:41,-34.5833,150.8552,84.00,68,18,7.00
14,14,Hobart,AU,2021-02-05 04:00:21,-42.8794,147.3294,78.01,73,75,14.97
17,17,Arraial Do Cabo,BR,2021-02-05 04:02:41,-22.9661,-42.0278,78.80,73,0,19.57
19,19,Tual,ID,2021-02-05 04:02:41,-5.6667,132.7500,83.41,77,100,25.14
20,20,Kudahuvadhoo,MV,2021-02-05 04:02:41,2.6708,72.8944,82.26,71,100,19.06
22,22,Georgetown,MY,2021-02-05 04:00:13,5.4112,100.3354,87.80,54,20,3.44

In [22]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Gigmoto      PH     78.67  13.7796  124.3900
3          Souillac      MU     82.40 -20.5167   57.5167
8       New Norfolk      AU     78.01 -42.7826  147.0587
11           Mackay      AU     86.00 -21.1500  149.2000
12         Flinders      AU     84.00 -34.5833  150.8552
14           Hobart      AU     78.01 -42.8794  147.3294
17  Arraial Do Cabo      BR     78.80 -22.9661  -42.0278
19             Tual      ID     83.41  -5.6667  132.7500
20     Kudahuvadhoo      MV     82.26   2.6708   72.8944
22       Georgetown      MY     87.80   5.4112  100.3354

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Gigmoto,PH,78.67,13.7796,124.3900,Cj's Travellers Inn
3,Souillac,MU,82.40,-20.5167,57.5167,Shanti Maurice Resort & Spa
8,New Norfolk,AU,78.01,-42.7826,147.0587,The Shingles Riverside Cottages
11,Mackay,AU,86.00,-21.1500,149.2000,International Lodge Motel
12,Flinders,AU,84.00,-34.5833,150.8552,Shellharbour Resort & Conference Centre
14,Hobart,AU,78.01,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
17,Arraial Do Cabo,BR,78.80,-22.9661,-42.0278,Pousada Porto Praia
19,Tual,ID,83.41,-5.6667,132.7500,Grand Vilia Hotel
20,Kudahuvadhoo,MV,82.26,2.6708,72.8944,Niyama Private Islands Maldives
22,Georgetown,MY,87.80,5.4112,100.3354,Cititel Penang

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))